node_modules

**/docs/.next/
**/website/docs/api-reference
.astro
dist
.commandkit

.DS_Store
.vscode

README.md
pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.production
.env.*

.gitignore
.npmignore

.turbo
turbo-lint.log
.source