node_modules

**/website/docs/api-reference
**/website/versioned_docs
**/website/versioned_sidebars
.docusaurus
**/devtools/ui
dist
build
.commandkit

.DS_Store
.vscode

README.md
pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.production
.env.*

.gitignore
.npmignore

.turbo
turbo-lint.log
.source

turbo/generators/templates/**/*.hbs